@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#navbar {
    flex-basis: 6%;
    background: hsl(196, 77%, 62%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content {
    flex-basis: 94%;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#user-btn {
    margin-right: 1.2em;
    padding: 10px;
    color: white;
    font-weight: bold;
}

#user-btn div {
    margin-left: 10px;
    cursor: pointer;
}


.hamburger-menu {
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-menu div {
    width: 20px;
    height: 2px;
    background: white;
}

.hamburger-menu div::before,
.hamburger-menu div::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: white;
}

.hamburger-menu div::before {
    transform: translateY(6px);
}

.hamburger-menu div::after {
    transform: translateY(-6px);
}

.loading-screen {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background: white;
}

.loading-image {
    z-index: 10;
    position: absolute;
    width: min(200px, 50%);
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}