.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 6;
    background: rgb(0, 0, 0, 70%);
}

.modal-menu {
    position: fixed;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    z-index: 7;
    background: white;
}

.menu-header {
    flex-basis: 30px;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 10px;
    background: rgb(85, 192, 233);
}

.menu-title {
    color: white;
    font-weight: bold;
}

.modal-form {
    position: relative;
    z-index: 8;
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.auth-error {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background: #EAA8A8;
    color: #A22727;
    font-size: small;
    text-align: center;
}

label {
    margin-top: 15px;
    color: rgb(85, 192, 233);
    font-weight: bold;
}

input, textarea {
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    color: rgb(0, 0, 0, 50%);
    font-size: large;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.radio-group input, .radio-group label {
    display: block;
} 

.radio-group input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    transform: scale(0.75);
    border: 5px solid rgb(0, 0, 0, 40%);
    border-radius: 50%;
}

.radio-group input:nth-of-type(1) {
    background: rgb(0, 255, 0, 90%);
}

.radio-group input:nth-of-type(2) {
    background: rgb(255, 255, 0, 90%);
}

.radio-group input:nth-of-type(3) {
    background: rgb(255, 0, 0, 90%);
}

.radio-group input:checked {
    border: 5px solid hsl(196, 77%, 62%);
}

.radio-group label {
    margin: 0 15px 0 3px;
}

.radio-group-prompt {
    margin-top: 15px;
    padding: 0;
    color: rgb(85, 192, 233);
    font-weight: bold;
}

.form-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.submit, .cancel {
    margin: 0 5px;
    margin-bottom: 15px;
    width: 80px;
    height: 30px;
    border: 1px solid hsl(196, 77%, 80%);
}

.submit {
    background: hsl(196, 77%, 62%);
    color: white;
}

.cancel {
    color: hsl(196, 77%, 62%);
}

